{% extends "common/index.html" %}
{% block page_css %}{% endblock %}
{% block page_title %}查看{% endblock %}
{% block container %}
    <form class="form-horizontal" action="" method="post">{% csrf_token %}
    <div class="form-group"><label class="col-sm-2 control-label">规则名称</label><input value="{{ rulename }}" disabled="disabled">
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label">指令</label>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="form-group"><label class="col-sm-2 control-label"  ></label>
        <div class="text-right col-lg-10">
            <table id="table_id" class="table table-striped table-bordered table-hover">
                <thead>
                <!--表格头部-->
                    <th style="text-align: center">序号</th>
                    <th style="text-align: center">指令</th>
                    <th style="text-align: center">状态</th>
                </thead>
               <!--表格内容-->
                <tbody>
                {% for item in commands %}
                    <tr>
                    <td style="text-align: center">{{ item.id }}</td>
                    <td style="text-align: center">{{ item.zhiling }}</td>
                    {% if item.status == '0' %}
                    <td style="text-align: center">启用</td>
                    {% else %}
                    <td style="text-align: center">禁用</td>
                    {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="text-right">
    <a href="javascript:;" onClick="javascript:history.back(-1);" style="width: 60px;display: inline-block;cursor:pointer;
     font-size: 15px;
    height: 30px;
    color: #ffffff;
    background-color: rgba(22, 155, 213, 1);
    border: 1px solid #ccc;
    border-radius: 4px;text-align: center;line-height:30px;text-decoration:none">返回</a>&nbsp;&nbsp;&nbsp;
</div>
</form>

{% include 'errbot/assModal.html' %}
{% endblock %}


