{% extends "common/index.html" %}
{% load staticfiles %}

{% block container %}

   <div class="tm-middle">
        <div class="uk-container uk-container-center">
{#            <h3 class="tm-article-subtitle uk-margin-top">#}
{#                修改密码#}
{#            </h3>#}
{#           <hr class="uk-grid-divider">#}

            <div class="uk-panel uk-panel-box uk-container-center uk-width-1-3">
{#                <h3 class="uk-panel-title"><i class="uk-icon-user"></i>修改密码</h3>#}

                    <div class="uk-grid">
                    <div >
                         {% if changepwd_success %}
                            <div class="uk-alert">密码更改成功，请用新的密码登陆！</div>
                        {% endif%}
                    <a href="{% url 'login' %}  ">
                        <input type="submit" value="Relogin" >
                    </a>
                    </div>
                </div>
            </div>

        </div>
   </div>
{% endblock %}